<nav>
	<div class="title">
		Nicholas A<span class="dot">.</span> Danes
	</div>
      <ul class="navigation">
	    <li class="navigation">
	     {% if page.title == "Home" %}
             <a class="current" href="{{ site.base_url }}/">Home</span></a>
              {% else %}
              <a href="{{ site.base_url }}/">Home</a></span>
              {%- endif -%}
	   </li>
	    <li class="navigation">
  	      {% if page.title == "Blog" %}
		 <a class="current" href="{{ site.base_url }}/blog">{{ page.title}}</a>
              {% else %}   
		 <a href="{{ site.base_url }}/blog">Blog</a>
	      {%- endif -%}
	    </li>
            <li class="navigation">
   	      {% if page.title == "Now" %}
		  <a class="current" href="{{ site.base_url }}/now">{{ page.title}}</a> 
              {% else %}   
		 <a href="{{ site.base_url }}/now">Now</a>
	      {%- endif -%}
	    </li>
	    <li class="navigation">
   	      {% if page.title == "Uses" %}
		  <a class="current" href="{{ site.base_url }}/uses">{{ page.title}}</a> 
              {% else %}   
		 <a href="{{ site.base_url }}/uses">Uses</a>
	      {%- endif -%}
	    </li>
        </ul>
</nav>


