<nav>
	      {% if page.title == "Home" %}
              <b><a href="{{ site.base_url }}/">Home</a></span></b>
              {% else %}
              <a href="{{ site.base_url }}/">Home</span></a>
              {%- endif -%}
  	      {% if page.title == "Blog" %}
		 <b><a href="{{ site.base_url }}/blog">{{ page.title}}</a></b>
              {% else %}   
		 <a href="{{ site.base_url }}/blog">Blog</a>
	      {%- endif -%}
   	      {% if page.title == "Now" %}
		 <b><a href="{{ site.base_url }}/now">{{ page.title}}</a></b>
              {% else %}   
		 <a href="{{ site.base_url }}/now">Now</a>
	      {%- endif -%}
   	      {% if page.title == "Uses" %}
		 <b><a href="{{ site.base_url }}/uses">{{ page.title}}</a></b>
              {% else %}   
		 <a href="{{ site.base_url }}/uses">Uses</a>
	      {%- endif -%}

</nav>


