<nav>
  <ul class="navbar">
    	   <li class="navbar">{% if page.title == "Home" %}
                 <a class="current navbar" href="{{ site.base_url }}/">{{ page.title}}</a>
              {% else %}   
		 <a class="navbar" href="{{ site.base_url }}/">Home</a>
	   </li>
	      {%- endif -%}
  	   <li class="navbar">{% if page.title == "Blog" %}
                 <a class="current navbar" href="{{ site.base_url }}/blog">{{ page.title}}</a>
              {% else %}   
		 <a class="navbar" href="{{ site.base_url }}/blog">Blog</a>
	   </li>
	      {%- endif -%}
	   <li class="navbar">{% if page.title == "Now" %}
                 <a class="current navbar" href="{{ site.base_url }}/now">{{ page.title}}</a>
              {% else %}   
		 <a class="navbar" href="{{ site.base_url }}/now">Now</a>
           </li>
	      {%- endif -%}

   </ul>
</nav>


